<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linfq.chat.mapper.FriendRequestMapper">
  <resultMap id="BaseResultMap" type="com.linfq.chat.model.FriendRequest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="send_user_id" jdbcType="INTEGER" property="sendUserId" />
    <result column="accept_user_id" jdbcType="INTEGER" property="acceptUserId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, update_time, send_user_id, accept_user_id
  </sql>

  <!-- 查询好友请求 -->
  <select id="selectByAcceptUserId" resultType="com.linfq.chat.vo.orm.FriendRequestResultVo"
          parameterType="java.lang.Integer">
    SELECT
      u.id AS sendUserId,
      u.username AS sendUsername,
      u.face_image AS sendFaceImage,
      u.nickname AS sendNickname
    FROM
        friend_request fr
    LEFT JOIN `user` u ON fr.send_user_id = u.id
    WHERE
        fr.accept_user_id = #{acceptUserId}
  </select>

</mapper>