<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linfq.chat.mapper.MyFriendMapper">
  <resultMap id="BaseResultMap" type="com.linfq.chat.model.MyFriend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="my_user_id" jdbcType="INTEGER" property="myUserId" />
    <result column="my_friend_user_id" jdbcType="INTEGER" property="myFriendUserId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, update_time, my_user_id, my_friend_user_id
  </sql>

  <!-- 查询好友请求 -->
  <select id="selectMyFriends" resultType="com.linfq.chat.vo.orm.MyFriendResultVo"
          parameterType="java.lang.Integer">
    SELECT
      u.id AS friendUserId,
      u.username AS friendUsername,
      u.face_image AS friendFaceImage,
      u.nickname AS friendNickname
    FROM
      my_friend mf
    LEFT JOIN `user` u ON mf.my_friend_user_id = u.id
    WHERE
      mf.my_user_id = #{userId}
  </select>


</mapper>